<header class="flex justify-between">
    <!-- Title -->
    <h1 class="mb-8"> <%= @p.title %> </h1>
    <!-- Buttons -->
    <div>
        <%= link_to 'Delete',
                knowledgebase_path(@p.uuid), 
                class: 'bg-red-400 hover:bg-red-300 focus:outline-none text-white py-2 px-2 rounded-md size-xl mx-6',
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        <a href="<%= "/knowledgebase/"+@p.uuid+"/edit" %>">
            <button class="bg-green-400 hover:bg-green-300 focus:outline-none text-white py-2 px-4 rounded-md size-xl">Edit</button>
        </a>
    </div>
</header>
<!-- Links -->
    <% if !@links.empty? %>
    <hr class="mb-4"/>
    <div>
        <h2 class="text-xl mb-2"> Links </h2>  
        <ul class="w-full flex flex-wrap justify-start">
    <%  @links.each{ |l|  %>
        <li class="hover:text-blue-500 my-2 mx-4"> <%= link_to l[0] , knowledgebase_path(l[1]) %> </li>
    <%  } %>
        </ul>
    </div>
    <% end %>
<hr class="mb-4"/>
<!-- Content -->
<div class="content">
    <%= @p.content.html_safe %>
</div>